WAREHOUSE_DB=dwh
WAREHOUSE_USER=changeme
WAREHOUSE_PASSWORD=changeme
AIRFLOW_DB_USER=changeme
AIRFLOW_DB_PASSWORD=changeme
AIRFLOW_ADMIN_USER=changeme
AIRFLOW_ADMIN_PASSWORD=changeme
AIRFLOW_FERNET_KEY=changeme
AIRFLOW_SECRET_KEY=changeme
